@model Shop.Model.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/AdminPanel/_LayoutAdminPanel.cshtml";
}

<h2>Usuwanie</h2>

<h3>Jesteś pewien, że chcesz usunąć tą kategorię?</h3>
<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JsonProperties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JsonProperties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-warning" /> |
            @Html.ActionLink("Wróć do listy kategorii", "Index")
        </div>
    }
</div>
