@using Shop.Properties;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>MikAd - elektronika dla Ciebie</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Sprzedaż urządzeń elektronicznych w okazyjnych cenach.">
    <meta name="keywords" content="PC,Komputery,Telefony,Smartfony,Netbooki,Ultrabooki,Gadżety,Elektronika">
    <meta name="author" content="Adam S. Grzonkowski & Mikołaj Trawiński">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Animate css -->
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <!-- Dropdown menu -->
    <link href="~/Content/ddlevelsmenu-base.css" rel="stylesheet">
    <link href="~/Content/ddlevelsmenu-topbar.css" rel="stylesheet">
    <!-- Countdown -->
    <link href="~/Content/jquery.countdown.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">

    <!-- Angular.js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- ngStorage-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <!-- Shop basket logic -->
    <script src="~/Scripts/basket.js"></script>

</head>
<body ng-app="shop">
    <!-- Koszyk -->
<div class="modal fade" id="shoppingcart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     ng-controller="BasketController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Koszyk</h4>
                </div>
                <div class="modal-body">

                    <!-- Items table -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Ilość</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in $storage.products"> 
                                <td><a href="/Products/Details/{{product.id}}">{{product.name}}</a></td>
                                <td>{{product.amount}}</td>
                                <td>{{product.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <strong>Cena całkowita:</strong> {{getTotalPrice()}}
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kontynuuj zakupy</button>
                    <button type="button" class="btn btn-info">Przejdź do płatności</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Logo & Navigation starts -->

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="~/Home/Index">MikAd</a></h1>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <!-- Navigation menu -->
                    <div class="navi">
                        <div id="ddtopmenubar" class="mattblackmenu">
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("admin"))
                                    {
                                        <li>
                                            @Html.ActionLink("Panel admininistracyjny", "IndexAdminPanel", "AdminPanel")
                                            <ul id="adminPanelSubmenus" class="ddsubmenustyle">
                                                <li>
                                                    @Html.ActionLink("Zarządzaj produktami", "IndexAdmin", "Products")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Zarządzaj kategoriami", "Index", "Categories")
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Zarządzaj użytkownikami", "Index", "Users")
                                                </li>
                                            </ul>

                                        </li>
                                    }
                                }
                                
                                <li>
                                    @Html.ActionLink("SKLEP", "Index", "Products")
                                </li>
                                <li>
                                    <a href="#" rel="ddsubmenu1">Konto</a>
                                    <ul id="ddsubmenu1" class="ddsubmenustyle">
                                        <li><a href="#">Moje konto</a></li>
                                        <li><a href="#">Zobacz koszyk</a></li>
                                        <li><a href="#">Płać</a></li>
                                        <li><a href="#">Historia zamówień</a></li>
                                        <li><a href="#">Edytuj profil</a></li>
                                        <li><a href="#">Potwierdzenie</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" rel="ddsubmenu1">Elektronika</a>
                                    <ul id="ddsubmenu1" class="ddsubmenustyle">
                                        <li><a href="#">PC</a></li>
                                        <li><a href="#">Laptopy</a></li>
                                        <li><a href="#">NetBooki</a></li>
                                        <li><a href="#">Smartfony</a></li>
                                        <li><a href="#">Monitory</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Home/Contact">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Dropdown NavBar -->
                    <div class="navis"></div>
                </div>

                <div class="col-md-4 col-sm-5">
                        @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <!-- Logo & Navigation ends -->

    <!-- Render body of a page -->
<div class="container">
    <div class="row">
        @RenderBody()
    </div>
</div>

    <!-- Recent posts Starts -->

    <div class="recent-posts blocky">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section title -->
                    <div class="section-title">
                        <h4><i class="fa fa-desktop color"></i> &nbsp;Nowości</h4>
                    </div>

                    <div id="item-carousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <!-- single item -->
                                        <div class="s-item">
                                            <!-- Image link -->
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/2.png" class="img-responsive" alt="" />
                                            </a>
                                            <!-- portfolio caption -->
                                            <div class="s-caption">
                                                <!-- heading and paragraph -->
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/3.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/4.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/5.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/6.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/7.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/8.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="~/Home/SingleItem">
                                                <img src="~/img/items/9.png" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Jakiś produkt</a></h4>
                                                <p>Coś o produkcie.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left c-control" href="#item-carousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="right c-control" href="#item-carousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Recent posts Ends -->

<!-- Footer starts -->
    <footer>
        <div class="container">

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="fwidget">

                        <h4>O Nas</h4>
                        <hr />
                        <p>O Nas</p>

                        <div class="social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="fwidget">
                        <h4>Instrukcja</h4>
                        <hr />
                        <div class="instruction">
                        <p>Istrukcja</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="fwidget">
                        <h4>Skontaktuj się z Nami!</h4>
                        <hr />
                        <div class="address">
                            <p><i class="fa fa-home color contact-icon"></i> Sala PK1,</p>
                            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ul. Grudziądzka 5,</p>
                            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 87-100, Toruń.</p>
                            <p><i class="fa fa-phone color contact-icon"></i> +48 731-224-634</p>
                            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; +48 516-673-874</p>
                            <p><i class="fa fa-envelope color contact-icon"></i> <a href="mailto:Sklep_MVC@wp.pl">Sklep_MVC@wp.pl</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="copy text-center">
                Copyright 2015 &copy; - UMK WFAiIS students
            </div>
        </div>
    </footer>
    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>

    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Dropdown menu -->
    <script src="~/Scripts/ddlevelsmenu.js"></script>
    <!-- Countdown -->
    <script src="~/Scripts/jquery.plugin.min.js"></script>
    <script src="~/Scripts/jquery.countdown.min.js"></script>
    <!-- jQuery Navco -->
    <script src="~/Scripts/jquery.navgoco.min.js"></script>
    <!-- Filter for support page -->
    <script src="~/Scripts/filter.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="~/Scripts/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/Scripts/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
