@using System.Web.Mvc.Html
@using Shop.Model.Models
@model Shop.Model.Models.Review
<!-- Recenzje -->
    <!-- Formularz dodawania recenzji-->
    @using (Html.BeginForm("CreateReview", "Reviews", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h5><strong>Napisz recenzję:</strong></h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form role="form">
            <div class="form-group">
                @Html.LabelFor(model => model.AuthorName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.AuthorName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Rate, htmlAttributes: new {@class = "control-label"})
                @Html.EnumDropDownListFor(model => model.Rate, null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Rate, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewText, htmlAttributes: new {@class = "control-label"})
                @Html.TextAreaFor(model => model.ReviewText, new {rows = 3, cols = 40, @class = "form-control"})
                @Html.ValidationMessageFor(model => model.ReviewText, "", new {@class = "text-danger"})
            </div>
            <button type="submit" class="btn btn-info">Wyślij</button>
            <button type="reset" class="btn btn-default">Wyczyść</button>
        </form>
    }

